<div id="div" class="row">
</div>
<input type="hidden" name="" id="asdga" value="{{{urunler.urunID}}}">
<input type="hidden" name="" id="asdga2" value="{{{urunler.urunAdi}}}">
<input type="hidden" name="" id="asdga3" value="{{{urunler.urunResmi}}}">
<input type="hidden" name="" id="asdga4" value="{{{urunler.urunFiyati}}}">


<script>

  function getProduct(urunLength) {
    let content = "";

    let deneme = document.getElementById('div');
    let asdga = document.getElementById('asdga').value;
    let asdga2 = document.getElementById('asdga2').value; //URUN ADI
    let asdga3 = document.getElementById('asdga3').value; //RESIM
    let asdga4 = document.getElementById('asdga4').value; //FIYAT



    let arr = asdga.split(',');
    let arr2 = asdga2.split(',');
    let arr3 = asdga3.split(',');
    let arr4 = asdga4.split(',');


    for (let i = 0; i < urunLength; i++) {
      content = '<div style="text-align:center" class="card ml-3 mr-3"><a href="/details/' + arr[i] + '"/><img src = "../images/' + arr3[i] + '" alt = "Avatar" style = "width: 250px; height:250px, "><div class="container"><h4 id="ad"><b>' + arr2[i] + '</b></h4><p>' + "Fiyatı: " + arr4[i] + " TL" + '<p>' + '</div></div>';
      deneme.innerHTML += content;

    }

    console.log(urunLength);
  }
  window.onload = getProduct({{{ urunIdLength }}})

</script>